{% extends 'parent/base.html' %}
{% load jformat %}
{% load blog_tags %}
{% block title %} index {% endblock %}
{% block content %}
    <h2>index</h2>
    <a href="{% url 'sabzwebapp:ticket' %}">ارسال تیکت </a>
    <br>
    <a href="{% url 'sabzwebapp:create_post' %}">ایجاد پست </a>
    <br>
    <h4>آمار</h4>
    <p> تعداد پست ها : {% number_of_posts %}</p>
    <p> تعداد کامنت ها : {% number_of_comment %}</p>
    <p> زمان آخرین پست : {% time_of_last_post %}</p>
    <p> {% latest_posts %} </p>
    <h4>محبوب ترین پست ها</h4>
    {% most_popular_post as m_posts %}
    {% for post in m_posts %}
        <a href="{{ post.get_absolute_url }}">{{ post.title }}: with {{ post.count}} comments</a>
        <br>
    {% endfor %}
    <h4>کاربران فعال</h4>
    {% active_users as users %}
        {% for user in users %}
            <p>{{ user.username}}</p>
        {% endfor %}
    <br>
    <p><a href="{{ rand.get_absolute_url }}">{{ rand.title }}</a></p>

{% endblock %}