{% extends 'parent/base.html' %}
{% block title %} post list {% endblock %}
{% block content %}
    <h2>پست ها</h2>
<ol style="--length: {{ posts|length }}" role="list">
    {% for post in posts %}
    <li style="--i: {{ forloop.counter }}">
        <h3>
        <a href="{{ post.get_absolute_url }}">{{post.title}}</a>
        </h3>
        <p>{{post.description|truncatewords:4}}</p>
        <br>
        <br>
        <img src="{{ post.images.first.file_image.url}}" alt="{{ post.image.first.title}}">
    </li>
    {% endfor %}
        <a href="{% url 'sabzwebapp:author_list' %}">لیست نویسندگان</a>
</ol>
    <div>
        {% if category %}
            <h4>
                <a href="{% url 'sabzwebapp:posts' %}"> {{ category }}  لیست پست های  </a>
            </h4>
        {% else %}
            <h4>
                <a href="{% url 'sabzwebapp:posts' %}"> لیست تمام پست ها </a>
            </h4>
        {% endif %}
    </div>
    <div>
        <a href="{% url 'sabzwebapp:posts_category' 'تکنولوژی' %}">تکنولوژیِ</a>
        <br>
        <a href="{% url 'sabzwebapp:posts_category' 'هوش مصنوعی' %}">هوش مصنوعی</a>
        <br>
        <a href="{% url 'sabzwebapp:posts_category' 'برنامه نویسی' %}">برنامه نویسی</a>
        <br>
        <a href="{% url 'sabzwebapp:posts_category' 'سایر' %}">سایر</a>
    </div>

{% include 'partials/paginations.html' with posts=posts %}
{% include 'partials/paginations.html' with page_obj=posts %}
{% endblock %}