{% extends 'parent/base.html' %}
{% block title %} profile {% endblock %}
{% block content %}
  <h2>پروفایل</h2>
  <table>
    <tr>
      <th>ردیف</th>
      <th>مشاهده</th>
      <th>ویرایش</th>
      <th>حذف</th>
    </tr>
    <tr>
      {% if posts %}
        <tr>
        {% for post in posts %}
          {% with total_offset=posts.start_index|add:forloop.counter0 %}
            <td>{{ total_offset }}</td>
          {% endwith %}
              <td><a href="{{ post.get_absolute_url }}">{{post.title}}</a></td>
              <td><a href="{% url 'sabzwebapp:edit_post' post.id %}">ویرایش</a></td>
              <td><a href="{% url 'sabzwebapp:delete_post' post.id %}">حذف</a></td>
        </tr>-
        {% empty %}
          <tr>
            هنوز هیچ پستی توسط این کاربر وجود ندارد.
          </tr>
    </tr>
        {% endfor %}
      {% endif %}
  </table>
<br>
<form action="{% url 'sabzwebapp:log_out' %}" method="post">
  {% csrf_token %}
  <input type="submit" value="خروج">
</form>
<br>
<form action="{% url 'sabzwebapp:password_change' %}" method="post">
  {% csrf_token %}
  <input type="submit" value="تغییر پسورد">
</form>
<br>
<form action="{% url 'sabzwebapp:edit_account' %}" method="post">
  {% csrf_token %}
  <input type="submit" value="ویرایش اطلاعات">
</form>
{% include 'partials/paginations.html' with page_obj=posts %}
{% endblock %}












